<%= stylesheet_link_tag "sidequests/minequest/ui", "data-turbo-track": "reload" %>

<div class="minecraft-ui-container">
  <%= image_tag "sidequests/art.png", class: "minecraft-image" %>
  <p><%= sidequest.description %></p>

  <%= link_to "View Sidequest", minequest_sidequest_path, class: "minecraft-button" %>
  <p class="minecraft-submissions-total">
    <% if sidequest.approved_count.zero? %>
      Be the first one to submit
    <% else %>
      Total projects submitted: <%= sidequest.approved_count %>
    <% end %>
  </p>
</div>
