<%= link_to sidequest_path(sidequest), class: "sidequest-card sidequest-card--link" do %>
  <div class="sidequest-card__content">
      <%= image_tag "launch/roasted_apples_banner.avif",
                  alt: "",
                  aria: { hidden: true },
                  class: "sidequest-card__image" %>
    <h1 class="sidequest-card__title">Roasted Apples</h1>
    <h2>Build a project for Apple devices, get an Apple developer license and other Apple related prizes!</h2>
    <% if sidequest.approved_count > 0 %>
      <p class="sidequest-card__expires"><%= pluralize(sidequest.approved_count, "submission") %></p>
    <% end %>
    <% if sidequest.expires_at.present? %>
      <p class="sidequest-card__expires"><%= sidequest.expired? ? "Ended" : "Ends" %> <%= sidequest.expires_at.strftime("%B %d, %Y") %></p>
    <% end %>
  </div>
<% end %>
