<%= stylesheet_link_tag "minecraft-ui", "data-turbo-track": "reload" %>

<div class="minecraft-home-screen">
  <%= image_tag "sidequests/i love flavortown.png", class: "minecraft-title-image" %>

  <div class="minecraft-menu">
    <%= link_to "Requirements", "https://hackclub.com/minecraft/", class: "minecraft-menu-button", target: "_blank" %>
    <%= link_to "Ideas", "https://hackclub.com/minecraft/", class: "minecraft-menu-button", target: "_blank" %>
    <%= link_to "Server", "https://hackclub.com/minecraft/", class: "minecraft-menu-button", target: "_blank" %>
  </div>

  <div class="minecraft-footer-buttons">
    <%= link_to "← Back", sidequests_path, class: "minecraft-menu-button small" %>
  </div>
</div>


