<div id="comment_<%= comment.id %>" class="comment">
  <%= link_to user_path(comment.user) do %>
    <img src="<%= comment.user.avatar %>" alt="<%= comment.user.display_name || comment.user.slack_id %>" class="comment__avatar">
  <% end %>
  <div class="comment__content">
    <div class="comment__header">
      <div class="comment__meta">
        <%= link_to user_path(comment.user), class: "comment__author" do %>
          <%= comment.user.display_name || comment.user.slack_id %>
        <% end %>
        <span class="comment__time"><%= time_ago_in_words(comment.created_at) %> ago</span>
      </div>
      <% if current_user && (comment.user == current_user || current_user.admin?) %>
        <%= button_to devlog_comment_path(comment.commentable, comment),
              method: :delete,
              class: "comment__delete",
               form: { onsubmit: "return confirm('Are you sure you want to delete this comment?')" } do %>
          <%= inline_svg_tag("icons/trash-bin.svg") %>
        <% end %>
      <% end %>
    </div>
    <div class="comment__body">
      <%= md comment.body %>
    </div>
  </div>
</div>
