<div class="dialogue-box-wrapper"
  data-controller="dialogue-iteration"
  data-dialogue-iteration-text-value='<%= text.to_json %>'
  data-dialogue-iteration-voice-url-value="<%= audio_path('cartoon-yap.mp3') %>"
  data-dialogue-iteration-sprites-value='<%= sprite_urls.to_json %>'
  data-action="keydown.enter@window->dialogue-iteration#next click@window->dialogue-iteration#next">

  <div class="dialogue-box-backdrop"></div>

  <% if show_sticker %>
    <div class="dialogue-box__sticker dialogue-box__sticker--hidden" data-dialogue-iteration-target="sticker">
      <%= image_tag "free_sticker.png", alt: "Free sticker!", class: "dialogue-box__sticker-image" %>
    </div>
  <% end %>

  <div class="dialogue-box">
    <h1>Chef Orpheus</h1>

    <div class="dialogue-box__image" data-action="click->dialogue-iteration#squeakCharacter" data-dialogue-iteration-target="character">
      <%= image_tag "orpheus_sprites/1.png", alt: "Chef Orpheus", data: { dialogue_iteration_target: "sprite" } %>
    </div>

    <div class="dialogue-box__text">
      <div class="dialogue-box__text-content">
        <span data-dialogue-iteration-target="content"><%= text.first %></span>
      </div>

      <button type="button" class="dialogue-box__text-btn">
        Click to continue...<span>&#8964;</span>
      </button>
    </div>
  </div>
</div>
