<%= tag.div class: wrapper_classes, data: wrapper_data do %>
  <% unless bare? %>
    <label class="input__label" for="<%= form.field_id(attribute) %>"><%= label %></label>
  <% end %>

  <%= form.file_field attribute, **file_field_html_options %>

  <div class="file-upload__area">
    <div
      class="file-upload__dropzone"
      role="button"
      tabindex="0"
      aria-label="Upload file"
      data-file-upload-target="dropzone"
      data-action="<%= dropzone_actions %> keydown->file-upload#openWithKeyboard keydown.left->file-upload#prev keydown.right->file-upload#next">
      <div class="file-upload__placeholder" data-file-upload-target="placeholder">
        <p class="file-upload__headline">Drag & drop your file here</p>
        <p class="file-upload__hint">
          or
          <button type="button" class="file-upload__browse" data-action="file-upload#open">
            browse from your computer
          </button>
        </p>
      </div>

      <button type="button" class="file-upload__nav file-upload__nav--prev" data-file-upload-target="prevButton" data-action="file-upload#prev" aria-label="Previous" hidden>
        <%= helpers.inline_svg_tag "icons/chevron-down.svg", class: "file-upload__nav-icon", focusable: "false", aria: { hidden: true } %>
      </button>

      <div class="file-upload__preview" data-file-upload-target="preview" hidden></div>
      <button type="button" class="file-upload__nav file-upload__nav--next" data-file-upload-target="nextButton" data-action="file-upload#next" aria-label="Next" hidden>
        <%= helpers.inline_svg_tag "icons/chevron-down.svg", class: "file-upload__nav-icon", focusable: "false", aria: { hidden: true } %>
      </button>

      <p class="file-upload__filename" data-file-upload-target="filename" hidden></p>
      <div class="file-upload__indicators" data-file-upload-target="indicators" hidden></div>
      <button
        type="button"
        class="file-upload__browse file-upload__add-more"
        data-file-upload-target="addMore"
        data-action="file-upload#open"
        hidden>
        Add more files
      </button>
    </div>

    <div class="file-upload__progress" data-file-upload-target="progress" hidden>
      <div class="file-upload__progress-bar" data-file-upload-target="progressBar"></div>
    </div>

    <p class="file-upload__status" data-file-upload-target="status" hidden></p>
  </div>

  <% if !bare? && has_subtitle? %>
    <div class="input__subtitle"><%= subtitle %></div>
  <% end %>
<% end %>
