<div class="shop-item-card">
  <div class="shop-item-card__image">
    <%= image_tag image_url, alt: "#{name} image", class: "rounded-lg w-full h-auto object-scale-down aspect-square max-h-48" %>
  </div>
  <div class="shop-item-card__content">
    <h4 class="shop-item-card__title"><%= name %></h4>
    <p class="shop-item-card__description"><%= description %></p>
    <div class="shop-item-card__details">
      <span class="shop-item-card__hours">⟩ <%= hours %> hours</span>
      <span class="shop-item-card__price"><%= number_to_currency(price).gsub('$', '🍪') %></span>
    </div>
  </div>
</div>
