<% content_for :title, "Your Wrapped" %>

<%= content_for :stylesheets do %>
  <%= stylesheet_link_tag "wrapped", "data-turbo-track": "reload" %>
<% end %>

<div class="wrapped-page">
  <h1 class="wrapped-page__title">Your Wrapped</h1>

  <div class="wrapped-container"
       data-controller="wrapped"
       data-action="click->wrapped#click"
       data-turbo="false"
       data-wrapped-interval-value="8000"
       data-wrapped-cookies-value="<%= @wrapped.total_cookies_earned %>"
       data-wrapped-ships-value="<%= @wrapped.ships_count %>"
       data-wrapped-votes-value="<%= @wrapped.votes_cast %>"
       data-wrapped-devlogs-value="<%= @wrapped.devlogs_count %>"
       data-wrapped-coding-value="<%= @wrapped.coding_hours %>"
       data-wrapped-rank-value="<%= @wrapped.leaderboard_percentile || -1 %>"
       data-wrapped-username-value="<%= current_user.display_name %>"
       data-wrapped-bento-value="<%= @wrapped.bento_payload.to_json %>">

    <% show_sidequests = @wrapped.sidequests_completed > 0 %>
    <% show_support    = @wrapped.support_helper? || (@wrapped.support_stats[:tickets_opened] || 0) > 0 %>
    <% show_shipwright = @wrapped.shipwright_reviewer? %>
    <% slide_count     = 7 + (show_sidequests ? 1 : 0) + (show_support ? 1 : 0) + (show_shipwright ? 1 : 0) %>

    <div class="wrapped-progress">
      <% slide_count.times do %>
        <div class="wrapped-progress-segment empty" data-wrapped-target="segment"></div>
      <% end %>
    </div>

    <%= render "wrapped/slides/intro",        user: current_user %>
    <%= render "wrapped/slides/shipping",     wrapped: @wrapped %>
    <%= render "wrapped/slides/payout",       wrapped: @wrapped %>
    <%= render "wrapped/slides/reports",      wrapped: @wrapped %>
    <%= render "wrapped/slides/shop_orders",      wrapped: @wrapped %>
    <%= render "wrapped/slides/shop_orders_list", wrapped: @wrapped %>
    <%= render "wrapped/slides/voting",           wrapped: @wrapped %>
    <%= render "wrapped/slides/achievements",     wrapped: @wrapped %>
    <% if show_sidequests %>
      <%= render "wrapped/slides/sidequests", wrapped: @wrapped %>
    <% end %>
    <% if show_support %>
      <%= render "wrapped/slides/support",      wrapped: @wrapped %>
    <% end %>
    <% if show_shipwright %>
      <%= render "wrapped/slides/shipwright",   wrapped: @wrapped %>
    <% end %>
    <%= render "wrapped/slides/complete",       user: current_user %>

    <div class="wrapped-hint">tap to continue</div>
  </div>
</div>
