<div id="rsvp-form" class="rsvp-form">
  <% if defined?(success_message) && success_message %>
    <div class="rsvp-form--success">
      <%= success_message %>
      
      <%= dev_tool do %>
        <div class="mt-3">
          <%= link_to "Open your letter opener", "/letter_opener", target: "_blank" %>
        </div>
      <% end %>
    </div>
  <% elsif defined?(error_message) && error_message %>
    <div class="rsvp-form--error">
      <%= error_message %>
    </div>
  <% end %>

  <% unless defined?(success_message) && success_message %>
    <%= form_with model: rsvp || Rsvp.new, url: rsvps_path, local: false, class: "space-y-3" do |form| %>
      <div class="input-red">
        <div>
          <%= inline_svg_tag "icons/mail.svg" %>
          <%= form.email_field :email, placeholder: "Enter your email...", autocomplete: "off" %>
        </div>
      </div>

      <button class="btn-striped-red">
        <div>
          <%= form.submit "RSVP for updates" %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
