<% content_for :twitter_card, "summary_large_image" %>
<% content_for :og_image, og_image_url('home', format: :png) %>

<%= content_for :stylesheets do %>
  <%= stylesheet_link_tag "landing", "data-turbo-track": "reload" %>
<% end %>

<%= render "landing/sections/hero" %>

<%= render "landing/sections/how_this_works" %>

<%= render "landing/sections/prizes" %>

<%= render "landing/sections/previously_hosted" %>

<div class="under-previously-hosted">
  This winter, we're going even bigger!
</div>

<%= render "landing/sections/testimonials" %>

<%= render "landing/sections/inspiration" %>

<%= render "landing/sections/faq" %>

<div class="under-faq"></div>

<%= render "landing/sections/footer" %>
