<% content_for :title, "Flavortown - Hack Club" %>

<% content_for :head do %>
  <meta property="og:title" content="Flavortown - Hack Club">
  <meta property="og:description" content="Build projects, earn cookies, get prizes. A Hack Club program for teen coders.">
  <meta property="og:url" content="<%= request.original_url %>">
  <meta property="og:image" content="<%= image_url('landing/hero/long-image.avif') %>">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Flavortown - Hack Club">
  <meta name="twitter:description" content="Build projects, earn cookies, get prizes. A Hack Club program for teen coders.">
  <meta name="twitter:image" content="<%= image_url('landing/hero/long-image.avif') %>">
<% end %>

<%= content_for :stylesheets do %>
  <%= stylesheet_link_tag "landing", "data-turbo-track": "reload" %>
<% end %>

<%= render "landing/sections/hero" %>

<%= render "landing/sections/how_this_works" %>

<%= render "landing/sections/prizes" %>

<%= render "landing/sections/previously_hosted" %>

<div class="under-previously-hosted">
  This winter, we're going even bigger!
</div>

<%= render "landing/sections/testimonials" %>

<%= render "landing/sections/inspiration" %>

<%= render "landing/sections/faq" %>

<div class="under-faq"></div>

<%= render "landing/sections/footer" %>
