<div class="landing-section">
  <%= inline_svg_tag "landing/section-1/flag-orpheus-top.svg", class: "orph-flag" %>

  <%= form_tag "/auth/slack", method: :post, data: {turbo: false} do %>
    <button class="login-btn btn-striped-red">
      <div>
        <%= image_tag "mask/enter.png", width: 20, height: 20 %>
        Sign in!
      </div>
    </button>
  <% end %>

  <div class="landing-section-1--right">
    <%= image_tag "landing/section-1/drawing.png" %>

    <%= form_tag do %>
      <div class="input-red">
        <div>
          <%= inline_svg_tag "icons/mail.svg" %>
          <input type="email" placeholder="Enter your email..." autocomplete="off">
        </div>
      </div>

      <button class="btn-striped-red">
        <div>
          Sign up and get free stickers
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="landing-section" style="gap: 16px;">
  <div class="landing-section-2--title">
    <h2>How this works</h2>
  </div>

  <div class="landing-section-2--left">
    <div class="landing-section-2--step-card landing-section-2--step-card-1">
        <div class="landing-section-2--step-card--ribbon landing-section-2--step-card-1--ribbon">
          <h2>Step 1</h2>
        </div>
    </div>
  </div>

  <div class="landing-section-2--center">
    <div class="landing-section-2--step-card landing-section-2--step-card-2">
        <div class="landing-section-2--step-card--ribbon landing-section-2--step-card-2--ribbon">
          <h2>Step 2</h2>
        </div>
    </div>
  </div>

  <div class="landing-section-2--right">
    <div class="landing-section-2--step-card landing-section-2--step-card-3">
        <div class="landing-section-2--step-card--ribbon landing-section-2--step-card-3--ribbon">
          <h2>Step 3</h2>
        </div>
    </div>
  </div>
</div>
