<%= content_for :stylesheets do %>
  <%= stylesheet_link_tag "landing", "data-turbo-track": "reload" %>
<% end %>

<div class="section hero">
  <%= inline_svg_tag "landing/hero/flag-orpheus-top.svg", class: "orph-flag" %>

  <div class="login-btn">
    <%= form_tag "/auth/slack", method: :post, data: {turbo: false} do %>
      <button class="btn btn--red btn--striped">
        <div>
          <%= image_tag "mask/enter.webp", width: 20, height: 20 %>
          Sign in!
        </div>
      </button>
    <% end %>
    <% if current_user&.admin? %>
      <%= link_to "/admin", class: "btn-striped-red is_admin" do %>
        <div>Admin</div>
      <% end %>
    <% end %>
  </div>

  <div class="hero-image">
    <!-- TODO: som-style hero image? -->
  </div>

  <div class="rsvp-container">
    <%= image_tag "landing/hero/drawing.webp" %>
    <%= render "rsvp_form", rsvp: Rsvp.new %>
  </div>
</div>

<div class="section how-this-works">
  <div class="title-overlay">
    <div class="ribbon ribbon-title title">How this works</div>
  </div>

  <div class="step left">
    <div class="step-card">
        <div class="ribbon step-count">Step 1</div>

        <div class="step-hero">
          <%= image_tag "landing/how-this-works/step-1-img.webp" %>
          <div class="title">Cook a real tasty project!</div>
        </div>

        <p>A website, game, hardware, anything to show off your skills</p>
    </div>
  </div>

  <div class="step center">
    <div class="step-card">
        <div class="ribbon step-count">Step 2</div>

        <div class="step-hero">
          <%= image_tag "landing/how-this-works/step-2-img.webp" %>
          <div class="title">Rate your fellow hackers!</div>
        </div>

        <p>Rate projects and receive a rating on your own</p>
    </div>
  </div>

  <div class="step right">
    <div class="step-card">
        <div class="ribbon step-count">Step 3</div>

        <div class="step-hero">
          <%= image_tag "landing/how-this-works/step-3-img.webp" %>
          <div class="title">Win prizes!</div>
        </div>

        <p>Win prizes that you can use to cook your next incredible feast</p>
    </div>
  </div>
</div>


<div class="section prizes">
  <div class="title">
    <div>Amazing Prizes</div>
    Prizes to power up your next project!
  </div>

  <%= render partial: "landing/carousel/showcase", locals: {
    showcase_items: @prizes.select { |p| p[:hours_estimated].between?(4, 9) },
    class_name: "five-hour",
    title: "5 hour prizes"
  } %>

  <%= render partial: "landing/carousel/showcase", locals: {
    showcase_items: @prizes.select { |p| p[:hours_estimated].between?(10, 30) },
    class_name: "twenty-hour",
    title: "20 hour prizes"
  } %>

  <%= render partial: "landing/carousel/showcase", locals: {
    showcase_items: @prizes.select { |p| p[:hours_estimated] > 80 },
    class_name: "hundred-hour",
    title: "100 hour prizes"
  } %>
</div>


<div class="section previously-hosted">
  <h2 class="title">Previously, we hosted...</h2>

  <div class="events">

  </div>

  <div class="stats">
    <h3 class="stats-title">For Summer of Making...</h3>
  </div>
</div>

<div class="under-previously-hosted">
  This winter, we're going even bigger!
</div>

<div class="section testimonials">
  <div class="ribbon ribbon-title title">What past chefs say</div>

  <div class="cards">
    <div class="testimonial blue">
      <div>
        <%= image_tag "landing/testimonials/cards/card-1.webp", height: "40%", style: "object-fit: cover;" %>
        <p>I loved summer of making, I got to work on such a great platform and meet so many talented people at HQ as a result of that! Fulfillment hell had the silver lining of seeing all the people getting cool stuff from the event!</p>
        <div class="title">16 year old Hack Clubber from the US</div>
      </div>
    </div>

    <div class="testimonial green">
      <div>
        <%= image_tag "landing/testimonials/cards/card-2.webp" %>
        <p>It encouraged me to create more and learn more.</p>
        <div class="title">14 year old Hack Clubber from Japan</div>
      </div>
    </div>

    <div class="testimonial red">
      <div>
        <%= image_tag "landing/testimonials/cards/card-3.webp", height: "40%", style: "object-fit: cover" %>
        <p>I salute everybody who volunteered at Hack Club to make Summer of Making possible; without it I would've never had known about just how special this community is. And hey, I got a Flipper Zero from it after spending months the previous year working on my own cheap version of one, so that's pretty cool! ❤️</p>
        <div class="title">15 year old Hack Clubber from the US</div>
      </div>
    </div>

    <div class="testimonial blue">
      <div>
        <%= image_tag "landing/testimonials/cards/card-4.webp" %>
        <p>Being a student in South India, where in small cities, students don't even know proper English, I lost the spirit to code which I got during the COVID-19 period. Hack Club has reignited that spirit in me.</p>
        <div class="title">17 year old Hack Clubber from India</div>
      </div>
    </div>

    <div class="testimonial green">
      <div>
        <%= image_tag "landing/testimonials/cards/card-5.webp", height: "40%", style: "object-fit: cover" %>
        <p>It has been a learning experience and a fun way to get back into coding properly after Arcade last year. Thank you so much for running such an amazing event and inspiring me. </p>
        <div class="title">13 year old Hack Clubber from the UK</div>
      </div>
    </div>

    <div class="testimonial red">
      <div>
        <%= image_tag "landing/testimonials/cards/card-6.webp" %>
        <p>I started programming about 5 years ago. The I saw a yt vid from Hackclub and was immediately excited by the idea that coding as a teenager can get you free stuff. But at the end I realised that it was more than that: it was the people and knowledge I got to know.</p>
        <div class="title">14 year old Hack Clubber from Germany</div>
      </div>
    </div>
  </div>
</div>

<div class="section inspiration">
  <div class="ribbon ribbon-title title">What will you cook this winter?</div>

  <div class="content">
    <div class="projects">
      <div class="title">
        <div class="inner">
          <h3>Build whatever you want!</h3>
          <p>Any technical project counts. You could build an AR game, pixel art display, drawing robot, and more.</p>
        </div>
      </div>

      <div class="content">
        <h3>Check out these projects for inspirations:</h3>

        <div class="list">
          <div class="project project-purple">
            <%= inline_svg_tag "landing/inspiration/projects/project-1-ribbon.svg" %>

            <div>
              <div class="details">
              <br>
              <p>A Rust-based monochrome pixel game engine that can be compiled to both web assembly and to a RP2040 microcontroller.</p>

                <div class="links">
                  <a href="https://arcaege.dev/embedded-engine/" target="_blank" class="no-underline">
                    <%= inline_svg_tag "icons/globe.svg" %>
                    Demo
                  </a>
                  <a href="https://github.com/ArcaEge/embedded-engine" target="_blank" class="no-underline">
                    <%= inline_svg_tag "icons/code.svg" %>
                    Repo
                  </a>
                </div>
              </div>

              <div class="image">
                <%= image_tag "landing/inspiration/projects/project-11.png" %>
              </div>
            </div>
          </div>

          <div class="project project-blue">
            <%= inline_svg_tag "landing/inspiration/projects/project-2-ribbon.svg" %>

            <div>
              <div class="details">
                <p>CLI-over-CLI tool that improves how the terminal looks, uses an alternative history system, explains error codes.</p>

                <div class="links">
                  <a href="https://github.com/justdanielndev/dimensity-oss/releases/latest" target="_blank" class="no-underline">
                    <%= inline_svg_tag "icons/globe.svg" %>
                    Demo
                  </a>
                  <a href="https://github.com/justdanielndev/dimensity-oss" target="_blank" class="no-underline">
                    <%= inline_svg_tag "icons/code.svg" %>
                    Repo
                  </a>
                </div>
              </div>

              <div class="image">
                <%= image_tag "landing/inspiration/projects/project-2.jpeg" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%= render "landing/projects/project_idea_generator" %>
  </div>
</div>

<div class="section faq">
  <div class="title">
    <div>FAQ</div>
  </div>

  <div class="cards">
    <div class="card card-yellow">
      <p class="question">Who is eligible?</p>
      <p class="answer">You need to be a high schooler (or younger). If you are over 18, you can participate in our referral program and earn prizes by getting teens excited about building cool stuff.</p>
    </div>

    <div class="card card-green">
      <p class="question">How much does it cost?</p>
      <p class="answer">It's completely free! We want to make sure everyone can participate, so there are no costs involved. Just sign up and start building! We'll even cover shipping costs for your prizes.</p>
    </div>

    <div class="card card-blue">
      <p class="question">What types of projects count?</p>
      <p class="answer">You can build anything you want! It can be a website, a game, an app, or even a cool hardware project. The only requirement is that you share your progress and log your hours.</p>
    </div>

    <div class="card card-yellow">
      <p class="question">How many projects can I build?</p>
      <p class="answer">There's no limit! The more you build, the more prizes you can earn. Each project you log counts, so get creative!</p>
    </div>

    <div class="card card-green">
      <p class="question">How can I trust this is real?</p>
      <p class="answer">Last winter, we ran High Seas, which gave out over 12,000 prizes with 3,865 projects shipped, and we have the receipts to prove it. Before that, we ran Arcade, which was also a huge success.</p>
    </div>

    <div class="card card-blue">
      <p class="question">Is Hack Club really a non-profit?</p>
      <p class="answer">Yup! Hack Club is a 501(c)(3) non-profit, and our EIN is 81-2908499. You can view our 990-N forms on ProPublica. We also keep our financials transparent and available for anyone to view.</p>
    </div>
  </div>
</div>

<div class="under-faq"></div>

<div class="section footer">
  <div class="about">
    <div>
      <h2>About Hack Club</h2>

      <p>
        <a href="https://hackclub.com" target="_blank">Hack Club</a> is a nonprofit supporting a global network of over 60,000 teenagers. We believe the best way to learn is by building, so we provide community, resources, and funding to help teens create. We've run programs like <a href="https://highseas.hackclub.com" target="_blank">High Seas</a>, a global coding challenge where over 5,000 teens logged over 130,000 hours of coding and we shipped out 11,112 prizes to 119 countries; <a href="https://juice.hackclub.com" target="_blank">Juice</a>, a two-month game jam where 100 teens created their own video games; <a href="https://trail.hackclub.com" target="_blank">The Trail</a>, a seven-day hike along the Pacific Crest Trail where 30 teens build their own technical hiking equipment.
      </p>

      <p>At Hack Club, students aren't just learning, they're shipping.</p>
    </div>
  </div>

  <div class="credits">
    <h3>Flavortown is built with &lt;3 by Hack Clubbers around the world.</h3>

    <div class="people">

    </div>

    <div class="links">
      <a href="https://hackclub.com" target="_blank">Hack Club</a>
      <a href="https://hackclub.com/clubs/" target="_blank">Clubs</a>
      <a href="https://hackathons.hackclub.com" target="_blank">Hackathons</a>
    </div>
  </div>
</div>
