<div class="start-flow__card start-flow__card--signin">
  <div class="start-flow__ribbon start-flow__ribbon">
    <%= inline_svg_tag "icons/star_fill.svg" %>
  </div>

  <div class="start-flow__card-header">
    <h2>Almost Done!</h2>
    <p class="start-flow__card-subtitle">Sign in to save your progress</p>
  </div>

  <div class="start-flow__summary">
    <div class="start-flow__summary-items">
      <div class="start-flow__summary-item">
        <div class="start-flow__summary-icon">
          <%= inline_svg_tag "icons/user.svg" %>
        </div>
        <div class="start-flow__summary-content">
          <span class="start-flow__summary-label">Display Name</span>
          <span class="start-flow__summary-value"><%= @display_name.presence || "Not set" %></span>
        </div>
        <%= link_to start_path(step: "name"), class: "start-flow__summary-edit" do %>
          <%= inline_svg_tag "icons/edit.svg" %>
        <% end %>
      </div>

      <div class="start-flow__summary-item">
        <div class="start-flow__summary-icon">
          <%= inline_svg_tag "icons/fork_spoon_fill.svg" %>
        </div>
        <div class="start-flow__summary-content">
          <span class="start-flow__summary-label">Project</span>
          <span class="start-flow__summary-value"><%= @project_attrs["title"].presence || "Not set" %></span>
        </div>
        <%= link_to start_path(step: "project"), class: "start-flow__summary-edit" do %>
          <%= inline_svg_tag "icons/edit.svg" %>
        <% end %>
      </div>

      <div class="start-flow__summary-item">
        <div class="start-flow__summary-icon">
          <%= inline_svg_tag "icons/edit.svg" %>
        </div>
        <div class="start-flow__summary-content">
          <span class="start-flow__summary-label">Devlog</span>
          <span class="start-flow__summary-value"><%= @devlog_body.present? ? truncate(@devlog_body, length: 40) : "Not set" %></span>
        </div>
        <%= link_to start_path(step: "devlog"), class: "start-flow__summary-edit" do %>
          <%= inline_svg_tag "icons/edit.svg" %>
        <% end %>
      </div>
    </div>
  </div>

  <%= form_tag "/auth/hack_club", method: :post, class: "start-flow__form", data: {turbo: false} do %>
    <%= hidden_field_tag :login_hint, @email if @email.present? %>
    <div class="start-flow__actions start-flow__actions--center">
      <%= render ButtonComponent.new(
        text: "Sign in with Hack Club",
        color: :brown,
        type: :submit,
        icon: "icons/tick.svg"
      ) %>
    </div>
  <% end %>
</div>
