<%
  liked = current_user && likeable.likes.exists?(user: current_user)
%>

<%= turbo_frame_tag dom_id(likeable, :like_button) do %>
  <div class="like-button">
    <% if current_user %>
      <% if liked %>
        <%= link_to devlog_like_path(likeable),
              data: { turbo_method: :delete },
              class: "like-button__btn like-button__btn--liked" do %>
          <%= inline_svg_tag("icons/star_fill.svg", class: "like-button__icon") %>
          <span class="like-button__count"><%= likeable.likes_count %></span>
        <% end %>
      <% else %>
        <%= link_to devlog_like_path(likeable),
              data: { turbo_method: :post },
              class: "like-button__btn" do %>
          <%= inline_svg_tag("icons/star_fill.svg", class: "like-button__icon") %>
          <span class="like-button__count"><%= likeable.likes_count %></span>
        <% end %>
      <% end %>
    <% else %>
      <div class="like-button__btn like-button__btn--disabled">
        <%= inline_svg_tag("icons/star_fill.svg", class: "like-button__icon") %>
        <span class="like-button__count"><%= likeable.likes_count %></span>
      </div>
    <% end %>
  </div>
<% end %>
