<h1 style="<%= 'border: 3px solid green; padding: 10px;' if Flipper.enabled?(:admin_green, current_user) %>">Hello there <%= current_user.highest_role %>!</h1>

<h2>tasks</h2>
<div class="button-grid">
  <% if policy(:admin).users? %>
    <%= link_to "Users", "/admin/users", class: "btn-primary" %>
  <% end %>

  <% if policy(:admin).projects? %>
    <%= link_to "Projects", "/admin/projects", class: "btn-primary" %>
  <% end %>
  <% if policy(:admin).manage_shop? %>
    <%= link_to "Manage shop", "/admin/manage-shop", class: "btn-primary" %>
  <% end %>
</div>

<h2>dashboards</h2>
<div class="button-grid">
  <% if policy(:admin).blazer? %>
    <%= link_to "Blazer", "/admin/blazer", class: "btn-primary" %>
  <% end %>

  <% if policy(:admin).flipper? %>
    <%= link_to "Flipper", "/admin/flipper", class: "btn-primary" %>
  <% end %>
  <% if policy(:admin).user_promotion_perms? %>
  <%= link_to "Manage users", "/admin/user-perms", class: "btn-primary" %>
<% end %>
<% if policy(:admin).jobs? %>
<%= link_to "Job queue", "/admin/jobs", class: "btn-primary" %>
<% end %>
  <%= link_to "Help bot", "slack://app?team=T0266FRGM&id=A09NP19R7FX&tab=home", class: "btn-primary" %>
</div>
