<h1 style="<%= 'border: 3px solid green; padding: 10px;' if Flipper.enabled?(:admin_green, current_user) %>">Hello there <%= current_user.highest_role %>!</h1>

<h2>tasks</h2>
<div class="button-grid">
  <% if policy(:admin).manage_users? %>
    <%= link_to "Users", "/admin/users", class: "btn-primary" %>
  <% end %>

  <% if policy(:admin).manage_projects? %>
    <%= link_to "Projects", "/admin/projects", class: "btn-primary" %>
  <% end %>
  <% if policy(:admin).manage_shop? %>
    <%= link_to "Manage shop", "/admin/manage-shop", class: "btn-primary" %>
  <% end %>
  <% if policy(:admin).access_audit_logs? %>
    <%= link_to "Audit Logs", admin_audit_logs_path, class: "btn-primary" %>
  <% end %>
  <% if policy(:admin).access_shop_orders? %>
    <% pending_count = ShopOrder.where(aasm_state: 'pending').count %>
    <% on_hold_count = ShopOrder.where(aasm_state: 'on_hold').count %>
    <% rejected_count = ShopOrder.where(aasm_state: 'rejected').count %>
    <% total_shop_count = pending_count + on_hold_count + rejected_count %>
    <%= link_to "Shop Orders#{" (#{total_shop_count})" if total_shop_count > 0}", admin_shop_orders_path(view: 'shop_orders'), class: "btn-primary" %>
  <% end %>
  <% if current_user.admin? || current_user.fulfillment_person? %>
    <% awaiting_count = ShopOrder.where(aasm_state: 'awaiting_periodical_fulfillment').count %>
    <%= link_to "Pending Fulfillment#{" (#{awaiting_count})" if awaiting_count > 0}", admin_shop_orders_path(view: 'fulfillment'), class: "btn-primary" %>
  <% end %>
</div>

<h2>dashboards</h2>
<div class="button-grid">
  <% if policy(:admin).access_blazer? %>
    <%= link_to "Blazer", "/admin/blazer", class: "btn-primary" %>
  <% end %>

  <% if policy(:admin).access_flipper? %>
    <%= link_to "Flipper", "/admin/flipper", class: "btn-primary" %>
  <% end %>
  <% if policy(:admin).manage_user_roles? %>
  <%= link_to "Manage users", "/admin/user-perms", class: "btn-primary" %>
<% end %>
<% if policy(:admin).access_jobs? %>
<%= link_to "Job queue", "/admin/jobs", class: "btn-primary" %>
<% end %>
  <%= link_to "Help bot", "slack://app?team=T0266FRGM&id=A09NP19R7FX&tab=home", class: "btn-primary" %>
</div>
