<h1>Project Search</h1>

<%= form_with url: admin_projects_path, method: :get, local: true do %>
  <%= text_field_tag :query, params[:query],
    placeholder: "Search projects by title or other meta info...",
    autocomplete: "off",
    class: "input-primary" %>

  <%= submit_tag "Search", class: "btn-primary slim" %>
<% end %>

<% if @projects.any? %>
  <table class="table-data">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= project.id %></td>
          <td><%= project.title %></td>
          <td><%= project.description %></td>
          <td>
            <%= link_to "View", "/admin/projects/#{project.id}", class: "btn-primary slim" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No projects found.</p>
<% end %>

<% if @pagy.pages > 1 %>
  <div class="pagination">
    <%== @pagy.nav %>
  </div>
<% end %>

<%= link_to "Go back", "/admin", class: "btn-primary" %>
