<div class="user-profile-edit">
  <h1>Edit Profile</h1>

  <%= form_with(model: @user_profile, url: user_profile_path(@user), method: :patch, local: true) do |form| %>
    <% if @user_profile.errors.any? %>
      <div class="alert alert-danger">
        <h2><%= pluralize(@user_profile.errors.count, "error") %> prohibited this profile from being saved:</h2>
        <ul>
          <% @user_profile.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :bio %>
      <%= form.text_area :bio, rows: 2, class: "form-control", placeholder: "Tell us about yourself..." %>
    </div>

    <div class="form-group">
      <%= form.label :custom_css %>
      <%= form.text_area :custom_css, rows: 6, class: "form-control", placeholder: "Enter custom CSS for your profile page here..." %>
    </div>

    <div class="form-group buttons">
      <%= form.submit "Save", class: "btn" %>
      <%= link_to "Cancel", user_path(@user), class: "btn" %>
    </div>
  <% end %>
</div>

<style>
  .user-profile-edit {
    margin: 2rem auto;
    max-width: 600px;
    padding: 1rem;
    background-color: var(--color-tan-400);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    .alert {
      position: absolute;
      top: 1rem;
      left: 50%;
      transform: translateX(-50%);
      width: 500px;
      display: block;

      h2 {
        margin-top: 0;
        font-size: 1.25rem;
      }

      ul {
        margin-bottom: 0;
        padding-left: 1.5rem;
      }
    }

    h1 {
      margin-bottom: 1.5rem;
      font-size: 2rem;
      font-weight: normal;
    }

    .form-group {
      margin-bottom: 1rem;

      textarea {
        font-family: inherit;
        font-size: 1rem;
        padding: 0.5rem;
        border: 1px solid var(--color-tan-300);
        border-radius: 5px;
        background-color: var(--color-tan-100);
        width: 100%;
        resize: vertical;
      }

      .btn {
        background-color: var(--color-tan-300);
        color: var(--color-tan-900);
        padding: 0.3rem 1rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1rem;

        &:hover {
          background-color: var(--color-brown-700);
          color: var(--color-bg);
        }
      }
    }

    .buttons {
      display: flex;
      justify-content: flex-end;
      gap: 1em;
      border-top: 2px solid var(--color-tan-300);
      padding-top: 1rem;
    }
  }
</style>
