<%= tag.div id: dom_id(project), class: "project-card" do %>
    <!-- Project Banner -->
    <% if project.banner.attached? %>
        <div class="project-card-banner">
            <%= link_to project_path(project) do %>
                <%= image_tag project.banner.variant(:card),
                    alt: "#{project.title} banner" %>
            <% end %>
        </div>
    <% else %>
        <!-- no banner -->
        <%# replace this  %>
        <div class="project-card-banner-placeholder">
            <%= link_to project_path(project) do %>
                <div class="banner-placeholder-text">
                    <p>No banner</p>
                </div>
            <% end %>
        </div>
    <% end %>
    <div class="project-card-content">
        <!-- Title -->
        <h3 class="project-card-title">
            <%= link_to project.title, project_path(project) %>
        </h3>

        <!-- Descp -->
        <%# TODO: add continue/read more https://apidock.com/rails/ActionView/Helpers/TextHelper/truncate %>
        <% if project.description.present? %>
            <p class="project-card-description">
                <%= truncate(project.description, length: 120) %>
            </p>
        <% end %>
    </div>
<% end %>
