<%= tag.div id: dom_id(project) do %>
    <div class="relative bg-card-brown rounded-3xl border-12 border-card-brown-border overflow-hidden drop-shadow-xl p-3">
        <!-- Project Banner -->
        <% if project.banner.attached? %>
            <div class="aspect-video bg-gray-100 rounded-md">
                <%= link_to project_path(project) do %>
                    <%= image_tag project.banner.variant(:card),
                        alt: "#{project.title} banner",
                        class: "w-full h-full object-cover" %>
                <% end %>
            </div>
        <% else %>
            <!-- no banner -->
            <%# replace this  %>
            <div class="aspect-video bg-gradient-to-br from-gray-100 to-gray-200 flex items-center justify-center rounded-md">
                <%= link_to project_path(project), class: "w-full h-full flex items-center justify-center" do %>
                    <div class="text-center text-gray-400">
                        <p class="text-xs">No banner</p>
                    </div>
                <% end %>
            </div>
        <% end %>
        <div class="mt-2 p-2">
            <!-- Title -->
            <h3 class="text-2xl text-[#F8E8D1] mb-2">
                <%= link_to project.title, project_path(project) %>
            </h3>

            <!-- Descp -->
            <%# TODO: add continue/read more https://apidock.com/rails/ActionView/Helpers/TextHelper/truncate %>
            <% if project.description.present? %>
                <p class="text-lg text-card-brown-secondary mb-4 line-clamp-3">
                    <%= truncate(project.description, length: 120) %>
                </p>
            <% end %>

            <div class="flex gap-4 text-card-brown-text-tertiary">
                <div class="relative">
                    <%= inline_svg_tag "devlog_label_bg.svg" %>

                    <div class="absolute left-0 top-0 w-full h-full flex">
                        <div class="ml-2 my-auto">
                            <%= inline_svg_tag "doc_icon.svg" %>
                        </div>

                        <p class="mt-2.75 ml-2">99 devlogs</p>
                    </div>
                </div>

                <div class="relative">
                    <%= inline_svg_tag "time_label_bg.svg" %>

                    <div class="absolute left-0 top-0 w-full h-full flex">
                        <div class="my-auto ml-2">
                            <%= inline_svg_tag "clock_icon.svg" %>
                        </div>

                        <p class="mt-2.75 ml-2">10h 30m</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- bg icons -->
        <%= image_tag "mask/star.png", class: "absolute top-[-16px] left-[-16px] size-16 opacity-10 z-[-1] rotate-15" %>
        <%= image_tag "mask/star.png", class: "absolute top-[-8px] right-[-24px] size-16 opacity-10 z-[-1] rotate-15" %>
        <%= image_tag "mask/star.png", class: "absolute bottom-16 left-[-24px] size-16 opacity-10 z-[-1] rotate-15" %>
        <%= image_tag "mask/star.png", class: "absolute bottom-36 right-10 size-16 opacity-10 z-[-1] rotate-15" %>
        <%= image_tag "mask/chef.png", class: "absolute bottom-18 right-42 size-16 opacity-10 z-[-1]" %>
        <%= inline_svg_tag "pan.svg", class: "absolute bottom-2 right-0 size-16 opacity-10 z-[-1]" %>
        <%= image_tag "mask/roll.png", class: "absolute bottom-[-16px] left-16 size-16 opacity-10 z-[-1]" %>
    </div>
<% end %>
