<div class="projects-ship__step">
  <h2 class="projects-ship__section-title">Fill out this information and make sure it looks correct</h2>
  <p class="projects-ship__section-desc">
    You can come back to this page at anytime! Your information will be saved.
  </p>
<br>
  <%= form_with(model: @project, url: update_ship_project_path(@project, step: 2), method: :patch, class: "projects-ship__form", local: true) do |form| %>
    <div class="projects-ship__form-field">
      <%= render(
            FileUploadComponent.new(
              label: "Screenshot",
              form: form,
              attribute: :banner,
              color: :green,
              subtitle: "This should be a screenshot of your project working.",
              accept: Project::ACCEPTED_CONTENT_TYPES.join(","),
              direct_upload: true,
              max_size: Project::MAX_BANNER_SIZE
            )
          ) %>
    </div>
<br>

    <div class="projects-ship__form-field">
      <%= render(
            InputComponent.new(
              label: "Title",
              form: form,
              attribute: :title,
              color: :yellow,
              placeholder: "Your project title",
              subtitle: "This is what people will see when voting.",
            )
          ) %>
    </div>
<br>

    <div class="projects-ship__form-field">
      <%= render(
            InputComponent.new(
              label: "Description",
              form: form,
              attribute: :description,
              color: :red,
              as: :textarea,
              placeholder: "Describe your project...",
              subtitle: "This should be a 2-4 sentence description of your project. What is it about? What does it do?",
              input_html: { rows: 4 }
            )
          ) %>
    </div>
<br>

    <div class="projects-ship__form-field">
      <%= render(
            InputComponent.new(
              label: "Demo URL",
              form: form,
              attribute: :demo_url,
              color: :blue,
              placeholder: "https://yourproject.com",
              subtitle: "A URL where anyone can try your project now.",
              input_html: { type: :url }
            )
          ) %>
    </div>
<br>
    <div class="projects-ship__form-field">
      <%= render(
            InputComponent.new(
              label: "Repository URL",
              form: form,
              attribute: :repo_url,
              color: :blue,
              placeholder: "https://github.com/you/yourproject",
              subtitle: "A public GitHub URL with all source code.",
              input_html: { type: :url }
            )
          ) %>
    </div>
<br>
    <div class="projects-ship__form-actions">
      <%= render(ButtonComponent.new(text: "Save & Continue", color: :green, type: :submit)) %>
    </div>
  <% end %>
</div>
