<div class="projects-ship__step">
  <h2 class="projects-ship__section-title">Hackatime Projects</h2>
  <p class="projects-ship__section-desc">
    Make sure this information looks accurate!
  </p>

  <% if @hackatime_projects.any? %>
    <div class="projects-ship__hackatime-list">
      <% @hackatime_projects.each do |hp| %>
        <div class="projects-ship__hackatime-item">
          <div class="projects-ship__hackatime-name"><%= hp[:name] %></div>
          <div class="projects-ship__hackatime-hours"><%= hp[:hours] %> hours</div>
        </div>
      <% end %>
    </div>

    <div class="projects-ship__hackatime-total">
      <%= @total_hours %> hours total across all projects
    </div>

    <%= link_to edit_project_path(@project, return_to: ship_project_path(@project, step: 2)), class: "projects-ship__edit-link" do %>
      edit projects
    <% end %>
  <% else %>
    <div class="projects-ship__no-hackatime">
      <p>No Hackatime projects linked yet.</p>
      <%= link_to "Link Hackatime projects", edit_project_path(@project, return_to: ship_project_path(@project, step: 2)), class: "projects-ship__edit-link" %>
    </div>
  <% end %>

  <% if @devlogs.any? %>
    <h2 class="projects-ship__section-title" style="margin-top: var(--space-xl);">Devlogs</h2>
    <p class="projects-ship__section-desc">Your project's development history.</p>

    <div class="projects-ship__devlogs">
      <% @devlogs.each do |post| %>
        <div class="projects-ship__devlog">
          <div class="projects-ship__devlog-header">
            <span class="projects-ship__devlog-author"><%= post.user.display_name %></span>
            <span class="projects-ship__devlog-date"><%= post.created_at.strftime("%B %d, %Y") %></span>
          </div>
          <% if post.postable.respond_to?(:body) && post.postable.body.present? %>
            <div class="projects-ship__devlog-body">
              <%= truncate(post.postable.body, length: 200) %>
            </div>
          <% end %>
          <% if post.postable.respond_to?(:duration_seconds) && post.postable.duration_seconds.present? %>
            <div class="projects-ship__devlog-duration">
              <%= (post.postable.duration_seconds / 3600.0).round(1) %> hours logged
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="projects-ship__no-devlogs" style="margin-top: var(--space-xl);">
      <p>No devlogs yet. Add some devlogs to document your progress!</p>
    </div>
  <% end %>
</div>
