<div class="projects-ship">
  <div class="projects-ship__container">
    <div class="projects-ship__content">
      <%= render ButtonComponent.new(
            text: "<- Back to Project",
            color: :brown,
            variant: :borderless,
            href: project_path(@project),
            class: "projects-ship__back"
          ) %>

      <h1 class="projects-ship__title">
        Request Re-Certification for <span class="projects-ship__project-name"><%= @project.title %></span>?
      </h1>

      <div class="projects-ship__step">
        <p>Your project was previously rejected. You can request a re-certification to have it reviewed again.</p>

        <% feedback = ShipCertService.get_feedback(@project) %>
        <% if feedback&.dig(:reason).present? %>
          <div class="projects-ship__feedback">
            <strong>Previous feedback:</strong>
            <p><%= feedback[:reason] %></p>
          </div>
        <% end %>

        <p>Make sure you've addressed the feedback before requesting re-certification.</p>
      </div>

      <div class="projects-ship__navigation">
        <%= render ButtonComponent.new(
              text: "Cancel",
              color: :brown,
              variant: :borderless,
              href: project_path(@project)
            ) %>

        <%= button_to request_recertification_project_path(@project),
              method: :post,
              class: "btn btn--green" do %>
          Request Re-Certification
        <% end %>
      </div>
    </div>
  </div>
</div>
