<% content_for :title, "New Project" %>
<div class="projects-new">
  <div class="projects-new__container">
    <%= render(HeadingComponent.new(title: "Create a new Project", tone: :brown)) %>

    <%= form_with(model: @project, class: "projects-new__form", local: true, data: { controller: "project-form", action: "submit->project-form#onSubmit" }) do |form| %>
      <div class="projects-new__card">
        <%= render "project_form_fields", form: form %>
      </div>
      <div class="projects-new__actions" style="">
        <%= render(ButtonComponent.new(text: "Cancel", href: projects_path, color: :red, size: :md, icon: "icons/close.svg")) %>
        <%= render(ButtonComponent.new(text: "Create Project", color: :green, size: :md, icon: "icons/plus.svg", type: :submit, disable_with: "Creating...", data: { "project-form-target": "submit" })) %>
      </div>
    <% end %>
  </div>
</div>
