<div class="projects-ship">
  <div class="projects-ship__container">
    <div class="projects-ship__content">
      <%= render ButtonComponent.new(
            text: "â† Back",
            color: :brown,
            variant: :borderless,
            size: :sm,
            href: project_path(@project),
            class: "projects-ship__back"
          ) %>

      <h1 class="projects-ship__title">
        Ready to submit <span class="projects-ship__project-name"><%= @project.title %></span>?
      </h1>

      <% case @step %>
      <% when 1 %>
        <%= render "ship_step_requirements" %>
      <% when 2 %>
        <%= render "ship_step_details" %>
      <% when 3 %>
        <%= render "ship_step_hackatime" %>
      <% when 4 %>
        <%= render "ship_step_update" %>
      <% end %>

      <div class="projects-ship__navigation">
        <% if @step > 1 %>
          <%= render ButtonComponent.new(
                text: "Prev",
                color: :red,
                href: ship_project_path(@project, step: @step - 1)
              ) %>
        <% else %>
          <div></div>
        <% end %>

        <% if @step < 4 %>
          <%= render ButtonComponent.new(
                text: "Next",
                color: :blue,
                href: ship_project_path(@project, step: @step + 1)
              ) %>
        <% elsif @step == 4 %>
          <div class="projects-ship__actions">
            <%= render ButtonComponent.new(
                  text: "Add Devlog",
                  color: :brown,
                  href: new_project_devlog_path(@project)
                ) %>
            <% can_ship = @project.shippable? && @project.can_ship_again? %>
            <% if can_ship %>
              <%= render ButtonComponent.new(
                    text: "Ship It!",
                    color: :green,
                    type: :submit,
                    form: "ship-form",
                    disable_with: "Shipping..."
                  ) %>
            <% else %>
              <% reason = if !@project.shippable?
                            "Complete all requirements first"
                          elsif @project.last_ship_event && !@project.previous_ship_event_has_payout?
                            "Wait for your previous ship event to receive a payout"
                          else
                            "Add a devlog first"
                          end %>
              <%= render ButtonComponent.new(
                    text: "Ship It!",
                    color: :brown,
                    disabled: true,
                    title: reason
                  ) %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
