<div class="projects-show">
  <div class="projects-show__container">
    <%= render ProjectShowCardComponent.new(project: @project) %>

    <% if current_user.present? && @project.users.include?(current_user) %>
      <div class="mt-4" style="display: flex; gap: var(--space-m);">
        <%= render ButtonComponent.new(
              text: "Add Devlog",
              color: :brown,
              href: new_project_devlog_path(@project)
            ) %>
      </div>
    <% end %>

    <% if current_user.present? && !@project.users.include?(current_user) %>
      <% if current_user.project_follows.exists?(project: @project) %>
        <%= button_to unfollow_project_path(@project), method: :delete, class: "btn btn--brown" do %>
          Unfollow
        <% end %>
      <% else %>
        <%= button_to follow_project_path(@project), method: :post, class: "btn btn--brown" do %>
          Follow
        <% end %>
      <% end %>
    <% end %>

    <% if @posts.present? %>
      <div class="projects-show__timeline">
        <div class="mt-4" style="display: grid; gap: var(--space-xl);">
          <% @posts.each do |post| %>
            <%= render PostComponent.new(post: post, variant: :devlog) %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
