<div style="background:url(\"landing/carousel/bg.svg\")">
<div class="carousel-container">
  <div class="inner-container">
    <div class="content-wrapper">
      <div class="parchment-texture"></div>
<div class="carousel-header">
<br />
      <h2>Amazing Prizes</h2>
      <p class="">
       Prizes to power up your next project!
      </p>
</div>
      <div class="carousel-row row-1"  data-controller="carousel" data-carousel-row-value="1">
        <div class="carousel-track-rev" style="background: var(--slides-bg-1)" data-carousel-target="container">
          <% (@prizes.select { |p| p[:hours_estimated].between?(4, 9) } * 10).each_with_index do |prize, index|  %>
            <div class="carousel-slide" style="transform: <%= random_carousel_transform %>; animation-delay: <%= (index * 0.5) %>s;">
              <div class="parchment-prize-card" style="animation-delay: <%= (index * 0.3) %>s;">
                <div class="parchment-texture"></div>
                <div class="parchment-prize-image">
                  <% if prize[:image_url].present? %>
                    <img src="<%= prize[:image_url] %>" alt="<%= prize[:name] %>" loading="lazy">
                  <% else %>
                    <%= image_tag "clubhuman.png", alt: "Prize" %>
                  <% end %>
                </div>
                <h3 class="parchment-prize-name"><%= prize[:name] %></h3>
                <p class="parchment-prize-time">
                  <%= prize[:hours_estimated] >= 500 ? ">500 hours" : "~#{prize[:hours_estimated]} #{"hour".pluralize(prize[:hours_estimated])}" %>
                </p>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="carousel-row row-2" data-controller="carousel" data-carousel-row-value="2">
        <div class="carousel-track-rev" style="background: var(--slides-bg-2)" data-carousel-target="container">
          <% (@prizes.select { |p| p[:hours_estimated].between?(10, 30) } * 10).each_with_index do |prize, index|  %>
            <div class="carousel-slide" style="transform: <%= random_carousel_transform %>; animation-delay: <%= (index * 0.4) %>s;">
              <div class="parchment-prize-card" style="animation-delay: <%= (index * 0.4) %>s;">
                <div class="parchment-prize-image">
                  <% if prize[:image_url].present? %>
                    <img src="<%= prize[:image_url] %>" alt="<%= prize[:name] %>" loading="lazy">
                  <% else %>
                    <%= image_tag "https://cachet.dunkirk.sh/emojis/meffo/r", alt: "Prize" %>
                  <% end %>
                </div>
                <h3 class="parchment-prize-name"><%= prize[:name] %></h3>
                <p class="parchment-prize-time">
                  <%= prize[:hours_estimated] >= 500 ? ">500 hours" : "~#{prize[:hours_estimated]} #{"hour".pluralize(prize[:hours_estimated])}" %>
                </p>
              </div>
            </div>
          <% end %>
          <br />
        </div>
              <div class="carousel-row row-3" data-controller="carousel"  data-carousel-row-value="3">
        <div class="carousel-track-rev" style="background: var(--slides-bg-3)" data-carousel-target="container">
          <% (@prizes.select { |p| p[:hours_estimated] > 80 } * 10).each_with_index do |prize, index| %>
            <div class="carousel-slide" style="transform: <%= random_carousel_transform %>; animation-delay: <%= (index * 0.5) %>s;">
              <div class="parchment-prize-card" style="animation-delay: <%= (index * 0.3) %>s;">
                <div class="parchment-texture"></div>
                <div class="parchment-prize-image">
                  <% if prize[:image_url].present? %>
                    <img src="<%= prize[:image_url] %>" alt="<%= prize[:name] %>" loading="lazy">
                  <% else %>
                    <%= image_tag "clubhuman.png", alt: "Prize" %>
                  <% end %>
                </div>
                <h3 class="parchment-prize-name"><%= prize[:name] %></h3>
                <p class="parchment-prize-time">
                  <%= prize[:hours_estimated] >= 500 ? ">500 hours" : "~#{prize[:hours_estimated]} #{"hour".pluralize(prize[:hours_estimated])}" %>
                </p>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      </div>
    </div>
  </div>
</div>
</div>