<% content_for :title, "Users" %>
<h1>users</h1>

<%= form_with url: admin_users_path, method: :get, local: true, class: "form-basic" do %>
  <%= text_field_tag :query, params[:query],
    placeholder: "Search users by name or email...",
    autocomplete: "off",
    class: "input-primary" %>

  <%= submit_tag "Search",
    class: "btn-primary slim" %>
<% end %>

<% if @users.any? %>
  <table class="table-data">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Role(s)</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= link_to user.display_name, admin_reports_path(reporter_id: user.id) %></td>
          <td><%= user.email %></td>
          <td><%= user.roles.map { |r| r.to_s.titleize }.join(", ") %></td>
          <td>
            <%= link_to "ðŸ‘ï¸", admin_user_path(user), title: "View user details", style: "font-size: 1rem; text-decoration: none;" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No users found.</p>
<% end %>

<% if @pagy.pages > 1 %>
  <div class="pagination">
    <%== @pagy.series_nav %>
  </div>
<% end %>

<%= link_to "Go back", "/admin", class: "btn-primary" %>
