<%= content_for :stylesheets do %>
  <%= stylesheet_link_tag "api_docs", "data-turbo-track": "reload" %>
<% end %>

<div class="main">
    <div class="grid">
        <% Rails.application.routes.routes.select { |r| r.defaults[:controller]&.start_with?("api/v1/") }.each do |route| %>
            <% if route.path.spec.to_s.starts_with?("/api/v1/docs") %>
                <% next %>
            <% end %>

            <div class="card">
                <div class="content">
                    <h2><%= route.verb %> <%= route.path.spec.to_s.gsub("(.:format)", "") %></h2>
                    <p><%= description_for(route) %></p>

                    <% url_params = query_url_params_for(route) %>

                    <label>URL Params:</label>
                    <% if url_params.any? %>
                        <pre class="query-params"><code><%= url_params.map { |k, v| "?#{k} (#{v[:required] ? "required" : "optional"}) - #{v[:desc]} " }.join("\n") %></code></pre>
                    <% else %>
                        <pre class="query-params"><code>none :D</code></pre>
                    <% end %>

                    <% request_body = query_request_body_for(route) %>

                    <% if request_body.any? %>
                        <label>Request Body (application/x-www-form-urlencoded):</label>
                        <pre class="request-body"><code><%= request_body.map { |k, v| "#{k} (#{v[:required] ? "required" : "optional"}) - #{v[:desc]}" }.join("\n") %></code></pre>
                    <% end %>

                    <% response = query_response_for(route) %>

                    <% if response.any? %>
                        <label>Response:</label>
                        <pre class="response"><code><%= JSON.pretty_generate(response) %></code></pre>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
</div>
