<div class="section footer">
  <div class="about">
    <div>
      <h2>About Hack Club</h2>

      <p>
        <a href="https://hackclub.com" target="_blank">Hack Club</a> is a nonprofit supporting a global network of over 60,000 teenagers. We believe the best way to learn is by building, so we provide community, resources, and funding to help teens create. We've run programs like <a href="https://highseas.hackclub.com" target="_blank">High Seas</a>, a global coding challenge where over 5,000 teens logged over 130,000 hours of coding and we shipped out 11,112 prizes to 119 countries; <a href="https://juice.hackclub.com" target="_blank">Juice</a>, a two-month game jam where 100 teens created their own video games; <a href="https://trail.hackclub.com" target="_blank">The Trail</a>, a seven-day hike along the Pacific Crest Trail where 30 teens build their own technical hiking equipment.
      </p>

      <p>At Hack Club, students aren't just learning, they're shipping.</p>
    </div>
  </div>

  <div class="credits">
    <h3 class="desktop-h3">Flavortown is built with &lt;3 by Hack Clubbers around the world</h3>
    <h3 class="mobile-h3">Made with &lt;3 by</h3>

    <div class="people">
      <%= image_tag "landing/footer/signatures.avif", class: "signatures", alt: "Flavortown contributors", loading: "lazy" %>
      <%= image_tag "landing/footer/flag-brown.avif", class: "flag", alt: "Hack Club Flag", loading: "lazy" %>
    </div>
  </div>

  <div class="links">
    <%= link_to "Hack Club", "https://hackclub.com", target: "_blank", rel: "noopener" %>
    <%= link_to "Clubs", "https://hackclub.com/clubs", target: "_blank", rel: "noopener" %>
    <%= link_to "Hackathons", "https://hackclub.com/hackathons", target: "_blank", rel: "noopener" %>
  </div>
</div>
