<div class="how-this-works-second-border-wrapper">
  <div class="how-this-works-border-wrapper">
    <div class="section how-this-works">
      <div class="title-overlay">
        <div class="ribbon ribbon-title title">How this works</div>
      </div>

      <div class="step left">
        <div class="step-card">
            <div class="step-hero">
              <%= image_tag "landing/how-this-works/step-1-img.avif" %>
              <div class="title">Cook a real tasty project!</div>
            </div>

            <p>Make a website, game, hardware, or anything your heart desires!</p>

            <%= inline_svg_tag "icons/arrow-red-right.svg", class: "right" %>
        </div>
      </div>

      <div class="step center">
        <div class="step-card">
            <%= inline_svg_tag "icons/arrow-green-right.svg", class: "left" %>

            <div class="step-hero">
              <%= image_tag "landing/how-this-works/step-2-img.avif" %>
              <div class="title">Ship the project!</div>
            </div>

            <p>Share your project for others to experience and Cookies - our virtual currency!</p>

            <%= inline_svg_tag "icons/arrow-green-right.svg", class: "right" %>
        </div>
      </div>

      <div class="step right">
        <div class="step-card">
            <%= inline_svg_tag "icons/arrow-blue-right.svg", class: "left" %>

            <div class="step-hero">
              <%= image_tag "landing/how-this-works/step-3-img.avif" %>
              <div class="title">Get free stuff!</div>
            </div>

            <p>Exchange your Cookies for iPads, MacBooks, Raspberry Pis and so many more things - all for free!</p>
        </div>
      </div>
    </div>
  </div>
</div>
