<div class="section testimonials">
  <div class="ribbon ribbon-title title">What past chefs say</div>

  <% cards_markup = capture do %>
      <div class="testimonial red">
        <h2>18 year old Hack Clubber from Japan</h2>
        <div class="content">
          <%= image_tag "landing/testimonials/cards/card-1.avif", alt: "Summer of Making", loading: "lazy" %>
          <h3>I spent over 400 hours at High Seas ... and connected with people from all over the world ... these led to incredible opportunities, like participating in DEFCON...</h3>
        </div>
      </div>
      <div class="testimonial yellow">
        <h2>17 year old Hack Clubber from India</h2>
        <div class="content">
          <%= image_tag "landing/testimonials/cards/card-2.avif", alt: "Summer of Making", loading: "lazy" %>
          <h3>I found a community of teens working on incredible projects, which helped me out of my comfort zone, from just software to even hardware and automation.</h3>
        </div>
      </div>
      <div class="testimonial green">
        <h2>17 year old Hack Clubber from Japan</h2>
        <div class="content">
          <%= image_tag "landing/testimonials/cards/card-3.avif", alt: "Summer of Making", loading: "lazy" %>
          <h3>High Seas motivated me to start my own Hack Club ... it’s also helped me grow, making me less shy, more connected, and even making friends online and in real life.</h3>
        </div>
      </div>
      <div class="testimonial yellow">
        <h2>17 year old Hack Clubber from Egypt</h2>
        <div class="content">
          <%= image_tag "landing/testimonials/cards/card-4.avif", alt: "Summer of Making", loading: "lazy" %>
          <h3>One of the best events I’ve ever joined ... I met amazing people and finally found motivation ... huge thanks to everyone who made High Seas such a special experience!</h3>
        </div>
      </div>
      <div class="testimonial red">
        <h2>18 year old Hack Clubber from Japan</h2>
        <div class="content">
          <%= image_tag "landing/testimonials/cards/card-1.avif", alt: "Summer of Making", loading: "lazy" %>
          <h3>I spent over 400 hours at High Seas ... and connected with people from all over the world ... these led to incredible opportunities, like participating in DEFCON...</h3>
        </div>
      </div>
      <div class="testimonial yellow">
        <h2>17 year old Hack Clubber from India</h2>
        <div class="content">
          <%= image_tag "landing/testimonials/cards/card-2.avif", alt: "Summer of Making", loading: "lazy" %>
          <h3>I found a community of teens working on incredible projects, which helped me out of my comfort zone, from just software to even hardware and automation.</h3>
        </div>
      </div>
      <div class="testimonial green">
        <h2>17 year old Hack Clubber from Japan</h2>
        <div class="content">
          <%= image_tag "landing/testimonials/cards/card-3.avif", alt: "Summer of Making", loading: "lazy" %>
          <h3>High Seas motivated me to start my own Hack Club ... it’s also helped me grow, making me less shy, more connected, and even making friends online and in real life.</h3>
        </div>
      </div>
      <div class="testimonial yellow">
        <h2>17 year old Hack Clubber from Egypt</h2>
        <div class="content">
          <%= image_tag "landing/testimonials/cards/card-4.avif", alt: "Summer of Making", loading: "lazy" %>
          <h3>One of the best events I’ve ever joined ... I met amazing people and finally found motivation ... huge thanks to everyone who made High Seas such a special experience!</h3>
        </div>
      </div>
    <% end %>

  <div class="cards scrolling-carousel" style="--carousel-scroll-time: <%= 8 * 3 %>s;">
    <div class="cards-track scrolling-items">
      <%= cards_markup %>
    </div>
    <div class="cards-track scrolling-items" aria-hidden="true">
      <%= cards_markup %>
    </div>
  </div>
</div>
