<script src="/howler.js"></script>
<script src="/yappingv2.js"></script>

<script>
  let sounds = {
    squeak: new Howl({
      src: ["https://hc-cdn.hel1.your-objectstorage.com/s/v3/ff2d5691f663fc471761f4407856a26291926baf_squeak_audio.mp4"],
    })
  }
  let nextLoadingMessage = <%= FlavortextService.project_ideas('loading_messages').to_json.html_safe %>

  const shopIcons = {
    think: 'https://hc-cdn.hel1.your-objectstorage.com/s/v3/3d3828fd60ed8b1b_thinking_rac_360.png',
    freaking: 'https://hc-cdn.hel1.your-objectstorage.com/s/v3/9b1e350fbdb63c3b_freaking.png',
    ded: 'https://hc-cdn.hel1.your-objectstorage.com/s/v3/acff249570a19122_ded.png',
    info: 'https://hc-cdn.hel1.your-objectstorage.com/s/v3/95f2a76ec90b572d_info.png',
    peefest: 'https://hc-cdn.hel1.your-objectstorage.com/s/v3/d09389c84cd5bb5c_pf.png',
    threat: 'https://hc-cdn.hel1.your-objectstorage.com/s/v3/dd597dde34626e47_threatened.png',
    reading: 'https://hc-cdn.hel1.your-objectstorage.com/s/v3/0204ed66004d35d8_reading_2.png',
    reading2: 'https://hc-cdn.hel1.your-objectstorage.com/s/v3/13d80b5838a5a2c0_reading.png',
    search: 'https://hc-cdn.hel1.your-objectstorage.com/s/v3/af5a25c2802ec9f3_searching_2.png',
    search2: 'https://hc-cdn.hel1.your-objectstorage.com/s/v3/b4b3c89446f25e0c_searching.png',
    question: 'https://hc-cdn.hel1.your-objectstorage.com/s/v3/a1bf8d1675854ee7_000.png',
    cute: 'https://hc-cdn.hel1.your-objectstorage.com/s/v3/e06b75e2757ccb39_003.png',
    tinfoil: 'https://hc-cdn.hel1.your-objectstorage.com/s/v3/09118abc827feba6_004.png',
    holding_ears: 'https://hc-cdn.hel1.your-objectstorage.com/s/v3/09118abc827feba6_004.png',
    not_amused: 'https://hc-cdn.hel1.your-objectstorage.com/s/v3/09118abc827feba6_004.png',
    woah: 'https://hc-cdn.hel1.your-objectstorage.com/s/v3/70c71016f763c69e_003.png',
    thumbs: 'https://hc-cdn.hel1.your-objectstorage.com/s/v3/99f6c56efbfc7f63_001.png',
    fluster: 'https://hc-cdn.hel1.your-objectstorage.com/s/v3/c2d0826f3061a1e5_untitled_artwork.gif',
  }

  // Background music setup
  const backgroundMusic = new Howl({
    src: ["<%= audio_path('penne_for_your_thoughts.mp3').to_json %>"],
    loop: true,
    rate: 0.5,
    volume: 0.1
  })

  const playMusic = async () => {
    backgroundMusic.fade(0, 1, 1000);
    backgroundMusic.play()
    while (backgroundMusic.rate() < 1) {
      backgroundMusic.rate(backgroundMusic.rate() + 0.05)
      await new Promise(r => setTimeout(r, 200))
    }
  }

  const spinDownMusic = async () => {
    backgroundMusic.fade(1, 0.5, 5000);
    while (backgroundMusic.rate() > 0.5) {
      backgroundMusic.rate(backgroundMusic.rate() - 0.05)
      await new Promise(r => setTimeout(r, 500))
    }
  }

  // Thinking sound
  const thinkingSound = new Howl({
    src: ['https://raw.githubusercontent.com/maxwofford/shopkeepers/main/audio/bell.wav'],
    volume: 0.3
  })
</script>

<div id="project-idea-generator" class="project-idea-generator">
  <div>
    <h3>Not sure what to make?</h3>
    <p>Order some ideas from our cooks - get silly ideas to make a fun project in a few hours!</p>

    <%= form_with url: random_project_ideas_path, method: :post, id: "new_project_idea_form", data: { turbo: false } do |form| %>
      <%= form.button(type: "submit", id: "shopkeeper-submit", class: "btn btn--red btn--striped") do %>
        <div>🎲 Generate Project Idea</div>
      <% end %>
    <% end %>

    <div id="shopkeeper-bar">
      <div id="shopkeeper-speech">
        <em>penne for your thoughts?</em>
      </div>

      <div id="shopkeeper-bakery">
        <%= image_tag "landing/inspiration/bakery/back.avif", style: "margin-top: -40px;", alt: "Bakery" %>
        <img id="shopkeeper-image" src="" class="idle" style="position: absolute; right: 64px; top: 40%; width: 30%;" alt="Shopkeeper">
        <%= image_tag "landing/inspiration/bakery/front.avif", style: "position: absolute; top: 1.2rem; left: 0; pointer-events: none;", alt: "" %>
      </div>
    </div>
  </div>
</div>

<script>
  // handle shopkeeper click
  document.getElementById("shopkeeper-image").addEventListener("mousedown", async function () {
    sounds.squeak.play();
  })

  // handling submissions
  document.getElementById("new_project_idea_form").addEventListener("submit", async function(event) {
    event.preventDefault();
    document.querySelector("#shopkeeper-submit").disabled = true;
    document.getElementById("shopkeeper-speech").innerHTML = nextLoadingMessage;
    shopkeeperLook("think")
    const response = await fetch(this.action, {
      method: "POST",
      headers: {
        "X-CSRF-Token": document.querySelector("meta[name='csrf-token']").getAttribute("content"),
        "Accept": "text/vnd.turbo-stream.html"
      },
      body: new FormData(this)
    })
    const data = await response.json()
    await shopkeeperInteraction(data.idea)
    nextLoadingMessage = data.load_message
    document.querySelector("#shopkeeper-submit").disabled = false;
  });

  // settings
  if (!window.initialShopkeeperSpeed) {
    window.initialShopkeeperSpeed = 4.0
  }
  if (!window.shopkeeperSpeed) {
    window.shopkeeperSpeed = initialShopkeeperSpeed
  }
  if (!window.isShopkeeperActive) {
    window.isShopkeeperActive = false
  }

  // interactions & specific tool calls
  async function shopkeeperInteraction(msg) {
    await setShopkeeperSpeed(null)
    await shopkeeperSay(null, null, true)
    for (const line of msg.split('|')) {
      if (line.startsWith('speed:')) {
        await setShopkeeperSpeed(line.split(':')[1])
      } else if (line.startsWith('icon:')) {
        await shopkeeperSay(line.split(':')[1], null, false)
      } else if (line.startsWith('pause:')) {
        const pauseDuration = parseInt(line.split(':')[1]) || 0
        await new Promise(resolve => setTimeout(resolve, Math.min(pauseDuration, 2000)))
      } else {
        await shopkeeperSay(null, line, false)
      }
    }
  }

  function setShopkeeperSpeed(setSpeed) {
    if (setSpeed && setSpeed != "default") {
      shopkeeperSpeed = setSpeed
    } else {
      shopkeeperSpeed = initialShopkeeperSpeed
    }
  }

  async function shopkeeperSay(expression, text, clearText = true, overrideRate = shopkeeperSpeed) {
    if (clearText) {
      shopkeeperEl.speech.innerHTML = ""
    }
    if (expression) {
      shopkeeperLook(expression)
    }
    if (text) {
      shopkeeperActive()
      await new Promise(resolveCallback => {
        yap(text, {
          rate: overrideRate || shopkeeperSpeed,
          letterCallback: async ({ letter, sound }) => {
            shopkeeperEl.speech.innerHTML += letter;
          },
          endCallback: () => {
            resolveCallback()
            shopkeeperIdle()
          }
        })
      })
    }
  }

  // dom animations
  const shopkeeperEl = {
    image: document.getElementById('shopkeeper-image'),
    speech: document.getElementById('shopkeeper-speech')
  }
  async function shopkeeperLook(image) {
    shopkeeperEl.image.src = shopIcons[image] || image
  }
  shopkeeperLook('think')
  async function shopkeeperIdle() {
    shopkeeperEl.image.classList.add('idle')
    shopkeeperEl.image.classList.remove('talking')
    // unlock new interactions
    isShopkeeperActive = false
  }
  async function shopkeeperActive() {
    // update animations
    shopkeeperEl.image.classList.add('talking')
    shopkeeperEl.image.classList.remove('idle')
    // lock new interactions
    isShopkeeperActive = true
  }
</script>

<style>
  #shopkeeper-image {
    min-width: 100px;
    width: 100px;
    margin: 0 auto;
  }

  #shopkeeper-submit {
    margin: 0 auto;
    display: block;
  }

  #shopkeeper-bar {
    width: 90%;
    text-align: center;
  }

  #shopkeeper-image.idle {
    animation: idle 1.5s infinite alternate;
    filter: contrast(60%);
  }

  #shopkeeper-image.talking {
    animation: talking 0.15s infinite alternate;
  }

  @keyframes idle {
    from {
      transform: translateY(0%);
    } to {
      transform: translateY(2%);
    }
  }

  @keyframes talking {
    from {
      transform: scale(1.01, 0.99) translateY(2%);
    } to {
      transform: scale(0.99, 1.01) translateY(0%);
    }
  }

  /* Click effect */
  #shopkeeper-image {
    transition: transform 200ms ease;
    transform-origin: bottom center;
    cursor: pointer;
  }
  #shopkeeper-image:hover, #shopkeeper-image:active {
    animation: none;
    animation-play-state: paused;
  }
  #shopkeeper-image:hover {
    transform: scale(1.15) !important;
  }
  #shopkeeper-image:active {
    transform: scale(1.25, 0.80) !important;
  }
</style>
