<% theme = {
   originality: "vote-category--red",
   technical: "vote-category--yellow",
   usability: "vote-category--blue",
   storytelling: "vote-category--green"
 }.fetch(category.to_sym, "") %>

<div class="vote-category <%= theme %>">
  <div class="vote-category__header">
    <%= category.to_s.humanize %>
  </div>

  <div class="vote-category__body">
    <div class="vote-category__stars">
      <% 6.downto(1) do |i| %>
        <%= form.radio_button :"#{category}_score", i, class: "vote-category__input", id: "vote_#{category}_score_#{i}" %>
        <%= form.label :"#{category}_score", value: i, for: "vote_#{category}_score_#{i}", class: "vote-category__star" do %>
          <%= inline_svg_tag "icons/star_fill.svg" %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="vote-category__footer">
    <%= Vote.new.category_description(category) %>
  </div>
</div>
