<%= form_with(url: votes_path, data: { turbo: false, action: "submit->vote-tracker#submit" }) do |form| %>
  <%= form.hidden_field :project_id, value: project.id %>
  <%= form.hidden_field :time_taken_to_vote, value: 0, data: { vote_tracker_target: "timeField" } %>
  <%= form.hidden_field :repo_url_clicked, value: false, data: { vote_tracker_target: "repoField" } %>
  <%= form.hidden_field :demo_url_clicked, value: false, data: { vote_tracker_target: "demoField" } %>

  <% Vote::Category.all.each do |category| %>
    <%= fields_for "votes[]", Vote.new, index: category.id do |vote_fields| %>
      <%= render "category", fields: vote_fields, category: category %>
    <% end %>
  <% end %>

  <% if current_user.send_votes_to_slack %>
    <style>.votes-new__feedback .input { display: flex; width: 100%; }</style>
    <div class="votes-new__feedback" style="margin: 2rem 0 3rem;">
      <%= render InputComponent.new(
        form: form,
        attribute: :reason,
        label: "Feedback for the creator",
        placeholder: "Share your thoughts about this project...",
        subtitle: "This will be shared to Slack with your vote",
        color: :green,
        as: :text_area,
        input_html: { required: true }
      ) %>
    </div>
  <% end %>

  <%= button_tag(type: "submit", class: "btn-submit") do %>
    <%= inline_svg_tag "icons/tick.svg", class: "btn-submit__icon", aria: { hidden: true } %>
    Submit
  <% end %>
<% end %>
