<%= form_with(model: @vote, url: votes_path, data: { turbo: false, action: "submit->vote-tracker#submit" }) do |form| %>
  <%= hidden_field_tag :suggestion_token, @suggestion_token %>
  <%= form.hidden_field :time_taken_to_vote, value: 0, data: { vote_tracker_target: "timeField" } %>
  <%= form.hidden_field :repo_url_clicked, value: false, data: { vote_tracker_target: "repoField" } %>
  <%= form.hidden_field :demo_url_clicked, value: false, data: { vote_tracker_target: "demoField" } %>

  <div class="vote-form">
    <% Vote.enabled_categories.each do |category| %>
      <%= render "category", form: form, category: category %>
    <% end %>

    <%= render InputComponent.new(
      form: form,
      attribute: :reason,
      label: "Feedback",
      placeholder: "Any thoughts for the maker?",
      color: :brown,
      subtitle: "Write a short feedback on this project that will be helpful to the creator."
    ) %>
  </div>
<% end %>
