<div class="votes-new__project">
  <div class="votes-new__project-card">
    <% if project.banner.attached? %>
      <%= image_tag project.banner, alt: "#{project.title} banner", class: "votes-new__project-banner-image" %>
    <% end %>
    <div class="votes-new__project-card-content">
        <h1><%= project.title %></h1>
        <p><%= truncate(project.description, length: 250) %></p>
        <div class="votes-new__project-card-stats">
            <div class="votes-new__project-card-stat">
                <%= inline_svg_tag "icons/paper.svg" %>
                <span><%= project.devlogs.count %> devlogs</span>
            </div>
            <div class="votes-new__project-card-stat">
                <%= inline_svg_tag "icons/time.svg" %>
                <span><%= "#{project.time.hours}hr #{project.time.minutes}min" %></span>
            </div>
        </div>
    </div>
    <div class="votes-new__project-buttons">
        <%= render ButtonComponent.new(
          href: project.demo_url,
          color: :brown,
          variant: :borderless,
          text: "DEMO",
          icon: "icons/globe2.svg",
          aria: { label: "Demo" },
          target: "_blank"
        ) %>
        <%= render ButtonComponent.new(
          href: project.repo_url,
          color: :brown,
          variant: :borderless,
          text: "REPO",
          icon: "icons/code.svg",
          aria: { label: "Repo" },
          target: "_blank"
        ) %>
        <%= render ButtonComponent.new(
          href: project.repo_url,
          color: :yellow,
          variant: :borderless,
          text: "REPORT",
          icon: "icons/flag.svg",
          class: "report-btn",
          aria: { label: "Report" },
          target: "_blank"
        ) %>
    </div>
  </div>
  <div class="votes-new__devlogs">
    <% devlogs.each do |post| %>
      <%= render PostComponent.new(post: post, variant: :devlog) %>
    <% end %>
  </div>
</div>
