<% content_for :title, "Vote!" %>
<% if @fullstory_org_id.present? %>
  <% content_for :head do %>
    <script>
      window['_fs_host'] = 'fullstory.com';
      window['_fs_script'] = 'edge.fullstory.com/s/fs.js';
      window['_fs_org'] = <%= @fullstory_org_id.to_json %>;
      window['_fs_namespace'] = 'FS';
      (function(){
        var s = document.createElement('script');
        s.async = true;
        s.src = 'https://' + window._fs_script;
        var first = document.getElementsByTagName('script')[0];
        first.parentNode.insertBefore(s, first);
      })();
    </script>
  <% end %>
<% end %>

<%= render MusicPlayerComponent.new(audio_url: audio_path("fireentity - voting.mp3")) %>

<div class="votes-new">
  <% if @project.nil? %>
    <p class="votes-new__no-projects">No more projects to vote on!</p>
  <% else %>
    <%= render HeadingComponent.new(title: "Vote", tone: :blue, size: :full) %>
    <%= render ButtonComponent.new(
          href: votes_path(@project),
          color: :brown,
          variant: :borderless,
          text: "See my previous votes",
          class: "votes-new__prev-btn",
          aria: { label: "See my previous votes" }
        ) %>

    <% balance = current_user.vote_balance %>
    <% if balance < 0 %>
      <p class="votes-new__balance-text votes-new__balance-text--negative">
        ⚠ You need <%= pluralize(balance.abs, "vote") %> to unlock payouts for your projects
      </p>
    <% elsif balance >= 15 %>
      <p class="votes-new__balance-text votes-new__balance-text--positive">
        ✓ You're <%= balance %> <%= "vote".pluralize(balance) %> ahead and have unlocked payouts!
      </p>
    <% else %>
      <p class="votes-new__balance-text votes-new__balance-text--positive">
        ✓ You're <%= balance %> <%= "vote".pluralize(balance) %> ahead, so you only need <%= pluralize(15 - balance,"vote") %> for your next payout.
      </p>
    <% end %>

    <div class="votes-new__main" data-controller="vote-tracker">
      <%= render "project_showcase", project: @project, posts: @posts %>

      <div class="votes-new__form">
        <%= image_tag "star-flag.webp", alt: "star-flag", class: "votes-new__form-flag" %>
        <h1>Your grades, chef</h1>
        <div>
          <%= render "form", project: @project %>
        </div>
      </div>
    </div>
  <% end %>
</div>
