<% content_for :title, "Vote!" %>

<%= render MusicPlayerComponent.new(audio_url: audio_path("fireentity - voting.mp3")) %>

<div class="votes-new">
  <% if @project.nil? %>
    <p class="votes-new__no-projects">No more projects to vote on!</p>
  <% else %>
    <%= render HeadingComponent.new(title: "Vote", tone: :green) %>
    <%= render ButtonComponent.new(
          href: votes_path(@project),
          color: :brown,
          variant: :borderless,
          text: "See my previous votes",
          class: "votes-new__prev-btn",
          aria: { label: "See my previous votes" }
        ) %>

    <div class="votes-new__main" data-controller="vote-tracker">
      <%= render "project_showcase", project: @project, posts: @posts %>

      <div class="votes-new__form">
        <%= image_tag "star-flag.webp", alt: "star-flag", class: "votes-new__form-flag" %>
        <h1>Your grades, chef</h1>
        <div>
          <%= render "form", project: @project %>
        </div>
      </div>
    </div>
  <% end %>
</div>
