<%= stylesheet_link_tag "sidequests/minequest/ui", "data-turbo-track": "reload" %>

<div class="minecraft-home-screen" style="background-image: url('<%= asset_path('sidequests/minequest/bg.png') %>'); background-size: cover; background-position: center;">
  <div class="minecraft-title-container">
    <%= image_tag "sidequests/minequest/animated-title.gif", class: "minecraft-title-image", alt: "Minequest" %>
  </div>

  <div class="minecraft-menu">
    <div data-controller="sidequests--minequest--modal">
      <a href="#" class="minecraft-menu-button" style="width: 100%; display: block;" data-action="click->sidequests--minequest--modal#open">Requirements</a>
      
      <div class="minecraft-modal hidden" data-sidequests--minequest--modal-target="dialog">
        <div class="minecraft-book">
          <h3 class="minecraft-book-title">Requirements</h3>
          <div class="minecraft-book-content">
            <p>
              Greetings Adventurer!<br><br>
              This sidequest requires you to:<br><br>
              1. Join the Minecraft Server<br>
              2. Build something amazing<br>
              3. Submit a devlog!<br><br>
              Have fun and be creative!
            </p>
          </div>
          <button type="button" data-action="click->sidequests--minequest--modal#close" class="minecraft-book-btn">Close</button>
        </div>
      </div>
    </div>
    <div data-controller="sidequests--minequest--ideas" data-sidequests--minequest--ideas-url-value="/generate_ideas">
      <a href="#" class="minecraft-menu-button" style="width: 100%; display: block;" data-action="click->sidequests--minequest--ideas#open">Ideas</a>
      
      <div class="minecraft-modal hidden" data-sidequests--minequest--ideas-target="dialog">
        <div class="minecraft-book" style="height: auto; min-height: 400px; padding-bottom: 80px;">
          <h3 class="minecraft-book-title">Idea Generator</h3>
          <div class="minecraft-book-content" data-sidequests--minequest--ideas-target="content">
            <p>
              Need inspiration?
            </p>
          </div>
          
          <div style="position: absolute; bottom: 20px; left: 0; right: 0; display: flex; justify-content: center; gap: 10px;">
            <button type="button" data-action="click->sidequests--minequest--ideas#generate" data-sidequests--minequest--ideas-target="button" class="minecraft-book-btn" style="position: static; transform: none;">Generate Idea</button>
            <button type="button" data-action="click->sidequests--minequest--ideas#close" class="minecraft-book-btn" style="position: static; transform: none;">Close</button>
          </div>
          
        </div>
      </div>
    </div>
    <%= link_to "View Project Submissions", minequest_sidequest_path(view: "submissions"), class: "minecraft-menu-button minecraft-submissions-button" %>
    <p class="minecraft-submissions-total"><%= pluralize(@approved_entries.size, "project") %> submitted so far</p>
  </div>

  <div class="minecraft-footer-buttons">
    <div data-controller="sidequests--minequest--modal">
      <button type="button" class="minecraft-menu-button small" data-action="click->sidequests--minequest--modal#open">Prizes</button>

      <div class="minecraft-modal hidden" data-sidequests--minequest--modal-target="dialog">
        <div class="minecraft-book minecraft-prizes-book">
          <h3 class="minecraft-book-title">Prizes</h3>
          <div class="minecraft-book-content minecraft-prizes-content">
            <% if @prizes.present? && @prizes.any? %>
              <p class="minecraft-prizes-summary"><%= pluralize(@prizes.count, "prize") %> unlockable for Minequest.</p>
              <ul class="minecraft-prizes-list">
                <% @prizes.each do |prize| %>
                  <li>
                    <span class="minecraft-prize-name"><%= prize.name %></span>
                    <span class="minecraft-prize-cost"><%= number_to_currency(prize.ticket_cost, precision: 0).gsub('$', '') %> cookies</span>
                  </li>
                <% end %>
              </ul>
            <% else %>
              <p class="minecraft-prizes-summary">Prizes will show up here once they’re configured.</p>
            <% end %>
          </div>
          <button type="button" data-action="click->sidequests--minequest--modal#close" class="minecraft-book-btn">Close</button>
        </div>
      </div>
    </div>
    <%= link_to "← Back", sidequests_path, class: "minecraft-menu-button small" %>
  </div>
  <div class="minecraft-footer">
    <span class="minecraft-footer-left">Minequest 1.0.1/flavourtown</span>
    <span class="minecraft-footer-right">Copyright Hackclub. Do distribute !</span>
  </div>

</div>
