<%= stylesheet_link_tag "sidequests/minequest/ui", "data-turbo-track": "reload" %>

<div class="minecraft-home-screen" data-controller="sidequests--minequest--accessibility" data-sidequests--minequest--accessibility-gif-value="<%= asset_path('sidequests/minequest/animated-title.gif') %>" data-sidequests--minequest--accessibility-png-value="<%= asset_path('sidequests/minequest/static-title.png') %>" style="background-image: url('<%= asset_path('sidequests/minequest/bg.png') %>'); background-size: cover; background-position: center;">
  <div class="minecraft-title-container">
    <%= image_tag "sidequests/minequest/animated-title.gif", class: "minecraft-title-image", data: { sidequests__minequest__accessibility_target: "image" } %>
  </div>

  <div class="minecraft-menu">
    <div data-controller="sidequests--minequest--modal">
      <a href="#" class="minecraft-menu-button" style="width: 100%; display: block;" data-action="click->sidequests--minequest--modal#open">Requirements</a>
      
      <div class="minecraft-modal hidden" data-sidequests--minequest--modal-target="dialog">
        <div class="minecraft-book">
          <h3 class="minecraft-book-title">Requirements</h3>
          <div class="minecraft-book-content">
            <p>
              Greetings Adventurer!<br><br>
              This sidequest requires you to:<br><br>
              1. Join the Minecraft Server<br>
              2. Build something amazing<br>
              3. Submit a devlog!<br><br>
              Questions? Join #minequest on Slack:<br>
              <a href="https://hackclub.enterprise.slack.com/archives/C0ATTCPQ0R4" target="_blank" rel="noopener">https://hackclub.enterprise.slack.com/archives/C0ATTCPQ0R4</a><br><br>
              Have fun and be creative!
            </p>
          </div>
          <button type="button" data-action="click->sidequests--minequest--modal#close" class="minecraft-book-btn">Close</button>
        </div>
      </div>
    </div>
    <div data-controller="sidequests--minequest--ideas" data-sidequests--minequest--ideas-url-value="/generate_ideas">
      <a href="#" class="minecraft-menu-button" style="width: 100%; display: block;" data-action="click->sidequests--minequest--ideas#open">Ideas</a>
      
      <div class="minecraft-modal hidden" data-sidequests--minequest--ideas-target="dialog">
        <div class="minecraft-book" style="height: auto; min-height: 400px; padding-bottom: 80px;">
          <h3 class="minecraft-book-title">Idea Generator</h3>
          <div class="minecraft-book-content" data-sidequests--minequest--ideas-target="content">
            <p>
              Need inspiration?
            </p>
          </div>
          
          <div style="position: absolute; bottom: 20px; left: 0; right: 0; display: flex; justify-content: center; gap: 10px;">
            <button type="button" data-action="click->sidequests--minequest--ideas#generate" data-sidequests--minequest--ideas-target="button" class="minecraft-book-btn" style="position: static; transform: none;">Generate Idea</button>
            <button type="button" data-action="click->sidequests--minequest--ideas#close" class="minecraft-book-btn" style="position: static; transform: none;">Close</button>
          </div>
          
        </div>
      </div>
    </div>
    <div data-controller="sidequests--minequest--modal">
      <button type="button" class="minecraft-menu-button" style="width: 100%; display: block;" data-action="click->sidequests--minequest--modal#open">Prizes</button>

      <div class="minecraft-modal hidden" data-sidequests--minequest--modal-target="dialog">
        <div class="minecraft-book minecraft-book-large">
          <h3 class="minecraft-book-title">Prizes</h3>
          <div class="minecraft-book-content minecraft-book-content-large">
            <% if @prizes.present? && @prizes.any? %>
              <p class="minecraft-book-summary"><%= pluralize(@prizes.count, "prize") %> available for Minequest adventurers.</p>
              <ul class="minecraft-book-list">
                <% @prizes.each do |prize| %>
                  <li>
                    <span class="minecraft-book-item-name"><%= prize.name %></span>
                    <span class="minecraft-book-item-cost"><%= number_to_currency(prize.ticket_cost, precision: 0).delete('$') %> cookies</span>
                  </li>
                <% end %>
              </ul>
            <% else %>
              <p class="minecraft-book-summary">No prizes are configured yet. Check back soon.</p>
            <% end %>
          </div>
          <button type="button" data-action="click->sidequests--minequest--modal#close" class="minecraft-book-btn">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="minecraft-footer-buttons">
    <%= link_to "https://hackclub.enterprise.slack.com/archives/C0ATTCPQ0R4", class: "minecraft-menu-button icon", target: "_blank", rel: "noopener", title: "Join #minequest on Slack" do %>
      <img src="https://cdn.freebiesupply.com/logos/large/2x/slack-icon-black.png" alt="Slack" class="minecraft-icon-image">
    <% end %>
    <button type="button" class="minecraft-menu-button small" data-action="click->sidequests--minequest--modal#open">Submissions</button>

    <div class="minecraft-modal hidden" data-sidequests--minequest--modal-target="dialog">
      <div class="minecraft-book minecraft-book-large">
        <h3 class="minecraft-book-title">Submissions</h3>
        <div class="minecraft-book-content minecraft-book-content-large">
          <% if @approved_entries.any? %>
            <p class="minecraft-book-summary"><%= pluralize(@approved_entries.size, "submission") %> from Minequest adventurers.</p>
            <div class="minecraft-submissions-grid">
              <% @approved_entries.each do |entry| %>
                <% project = entry.project %>
                <% next unless project.present? %>
                <div class="minecraft-submissions-item">
                  <%= render partial: "projects/card", locals: { project: project } %>
                </div>
              <% end %>
            </div>
          <% else %>
            <p class="minecraft-book-summary">No Minequest submissions yet. Be the first to ship one.</p>
          <% end %>
        </div>
        <button type="button" data-action="click->sidequests--minequest--modal#close" class="minecraft-book-btn">Close</button>
      </div>
    </div>
    <%= link_to "← Back", sidequests_path, class: "minecraft-menu-button small" %>
    <button type="button" class="minecraft-menu-button icon animation-toggle-button" data-action="click->sidequests--minequest--accessibility#toggle" data-sidequests--minequest--accessibility-target="button" aria-pressed="false" title="Turn On/Off Animation" aria-label="Turn On/Off Animation">
      <img src="https://media.forgecdn.net/avatars/thumbnails/1053/312/256/256/638583850233176730.png" alt="Animation" class="minecraft-icon-image">
    </button>
  </div>
  <div class="minecraft-footer">
    <span class="minecraft-footer-left">Minequest 1.0.1/flavourtown</span>
    <span class="minecraft-footer-right">Copyright Hackclub. Do distribute !</span>
  </div>

</div>
