<%= turbo_frame_tag "balance_history" do %>
  <div class="balance-history">
    <div class="balance-history__header"
         data-controller="cookie-clicker"
         data-cookie-clicker-clicks-value="<%= current_user.cookie_clicks %>"
         data-cookie-clicker-post-url-value="<%= my_cookie_click_path %>"
         data-cookie-clicker-orchestra-url-value="<%= audio_path('Orchestra_hit.ogg') %>"
         data-cookie-clicker-headshot-url-value="<%= audio_path('headshot.mp3') %>">
      <h1>My Balance: <span class="cookie-clicker__cookie" data-cookie-clicker-target="cookie" data-action="click->cookie-clicker#click">🍪</span> <%= current_user.balance %></h1>
    </div>

    <% if @balance.any? %>
      <table class="balance-history__table">
        <thead>
          <tr>
            <th>Reason</th>
            <th>Amount</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <% @balance.each do |entry| %>
            <tr>
              <td>
                <%= ledger_entry_reason_with_link(entry) %>
              </td>
              <td class="balance-history__amount--<%= entry.amount.negative? ? 'negative' : 'positive' %>">
                <%= number_with_sign(entry.amount) %>
              </td>
              <td class="balance-history__date">
                <%= entry.created_at.strftime('%b %d, %Y') %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>No transactions yet</p>
    <% end %>
  </div>
<% end %>
