<div class="explore__nav">
  <div class="explore__nav--type explore__nav--desktop">
    <%= link_to explore_index_path, class: "explore__nav-component #{'selected' if current_page?(explore_index_path)}" do %>
      <%= inline_svg "icons/paper.svg" %>
      Devlogs
    <% end %>
    <%= link_to explore_gallery_path, class: "explore__nav-component #{'selected' if current_page?(explore_gallery_path)}" do %>
      <%= inline_svg "icons/ship.svg" %>
      Projects
    <% end %>
    <%= link_to explore_extensions_path, class: "explore__nav-component #{'selected' if current_page?(explore_extensions_path)}" do %>
      <%= inline_svg "icons/globe2.svg" %>
      Extensions
    <% end %>
  </div>
  <div class="explore__nav--type explore__nav--mobile">
    <%= render DropdownComponent.new(
      label: "Section",
      options: [
        { label: "Devlogs", value: explore_index_path },
        { label: "Projects", value: explore_gallery_path },
        { label: "Extensions", value: explore_extensions_path }
      ],
      selected_option: (
        if current_page?(explore_index_path)
          "Devlogs"
        elsif current_page?(explore_gallery_path)
          "Projects"
        elsif current_page?(explore_extensions_path)
          "Extensions"
        else
          "Devlogs"
        end
      ),
      longest_option_string: "Extensions",
      color: :brown
    ) %>
  </div>
  <div class="explore__nav--sort">
    <%= render DropdownComponent.new(
      label: "Sort",
      options: ["Newest", "Following", "Top"],
      selected_option: "Newest",
      longest_option_string: "Following",
      color: :green
    ) %>
  </div>
</div>
