<% content_for :title, "Explore" %>
<% content_for :og_title, "Explore Flavortown" %>
<% content_for :og_description, "Discover projects and devlogs from teen coders on Flavortown." %>
<% content_for :og_image, og_image_url('explore', format: :png) %>

<div class="explore" data-controller="load-more" data-load-more-url-value="<%= explore_index_path %>">
    <%= render "explore/explore_nav" %>

    <div id="devlog-list" class="explore__list" data-load-more-target="entries">
        <%= render PostComponent.with_collection(@devlogs, current_user: current_user, theme: :explore_mixed) %>
    </div>

    <div class="explore__pagination">
        <% if @pagy.next %>
            <button
                type="button"
                class="btn btn--brown"
                data-load-more-target="button"
                data-load-more-url-value="<%= explore_index_path %>"
                data-turbo="false"
                data-action="load-more#load"
                data-page="<%= @pagy.next %>">
                Load More Devlogs
            </button>
        <% else %>
            <p class="explore__end">You've reached the end.</p>
        <% end %>
    </div>
</div>
