<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for(:title) || "Flavortown" %></title>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta property="og:type" content="website">
    <meta name="twitter:site" content="@hackclub">
    <meta name="twitter:creator" content="@hackclub">
    <meta property="og:locale" content="en_US">
    <meta property="og:site_name" content="Flavortown - Hack Club">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="turbo-prefetch" content="false">

    <%= preload_link_tag image_path("landing/hero/long-image.avif"), as: "image", fetchpriority: "high" %>
    <%= preload_link_tag image_path("landing/hero/hero-bg.avif"), as: "image" %>
    <%= preload_link_tag asset_path("Jua-Regular.woff2"), as: "font", type: "font/woff2", crossorigin: true %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <%= yield :stylesheets %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <% if Rails.env.production? %>
      <script async src="https://plausible.io/js/pa-vZKZvMqR3_6nQr_H-sJ_2.js"></script>
      <script>
        window.plausible=window.plausible||function(){(plausible.q=plausible.q||[]).push(arguments)},plausible.init=plausible.init||function(i){plausible.o=i||{}};
        plausible.init()
      </script>
    <% end %>
    <script src="/howler.js"></script>
    <script src="/yappingv2.js"></script>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= Sentry.get_trace_propagation_meta.html_safe %> <%# erb_lint:disable ErbSafety %>
  </head>

  <body class="<%= current_user.present? && !@hide_sidebar ? 'signed-in' : '' %> <%= @body_class %>">
    <% if current_user.present? && !current_user.banned? && !@hide_sidebar %>
      <%= render "shared/sidebar" %>
    <% end %>
    <%= render "shared/flash" %>
    <% if tutorial_messages.present? %>
      <%= render DialogueBoxComponent.new(text: tutorial_messages) %>
    <% end %>
    <%= yield %>
    <% unless @hide_footer %>
      <footer class="dev-footer">
        <p>
          Build <%= link_to Rails.application.config.git_version, Rails.application.config.commit_link %>
          from <%= time_ago_in_words(Rails.application.config.server_start_time) %> ago.
          (DB: <%= pluralize(QueryCount::Counter.counter, "query") %>, <%= QueryCount::Counter.counter_cache %> cached)
          (CACHE: <%= cache_stats[:hits] %> hits, <%= cache_stats[:misses] %> misses)
          (<%= requests_per_second %>)
        </p>
      </footer>
    <% end %>
  </body>
</html>
